.header {
  width: 100%;
  padding: 20px 15px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border-color);
  backdrop-filter: blur(3px);
  z-index: 99;
  .header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1234px;
    .header-main {
      width: fit-content;
      text-decoration: none;
      .title {
        font-size: 1.6rem;
      }
    }
  }
}
